body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto; 
    max-width: 1300px;
}

.caja{
    width: 1300px;
    position: relative;
    margin: 0 auto;
}

#encabezado{
    position: fixed;
    width: 100%;
    width: 100%;
    z-index: 1300px;
    top: 0;
    left: 0;
}

header{
    background-color: #707070;
    padding: 40px 0;
}

.logoPag{
    position: absolute;
    width: 60px;
    height: 60px;
    top: -10px;
    left: 10px;
}

h1 p{
    position: absolute;
    height: 20x;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    left: 70px;
    top: 24px;
}

.anteBanner{
    width: 100%;
    height: 20px;
    padding-top: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    z-index: 1300px;
    background-color: #0771e2;  
}

nav{
    position: relative;
    top: 10px;
    text-align: right;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.productos{
    width: 100%;
    padding-top: 10px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenPagProductos{
    width: 200px;
    height: 225px;
}

.productos li{
    background-color: #FFFFFF;
    display: inline-block;
    text-align: center;
    width: calc(25% - 2%);
    margin: 0.5%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-top: 148px;
}

.productos li .producto-descripcion {
    font-size: 20px;
    height: 50px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.productos li:hover{
    border-color:#c78c19;
}

.productos li:active{
    border-color:#088c19;
}

.banner{
    margin-top: 110px;
    width: 100%;
}

.posBanner{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding-top: 10px;
    position: fixed;
    top: 83px;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 1300px;
    background-color: #ffffff;
}

.opcionesPosBanner{
    display: inline;
    font-weight: bold;
    font-size: 16px;
    color: #707070;
    margin: 0 60px 0 60px;    
}

ul, li{
    display: inline;
    margin: 0 1px 0 1px;    
}

.posBanner button {
    background-color: transparent;
    border: 2px solid #707070;
    color: #0771e2;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.posBanner button:hover {
    background-color: #0771e2; 
    color: #fff; 
    border-color: #707070; 
}

.listaPosBanner:hover{ 
    color: #0771e2;
    text-decoration: underline;   
}

.principal{
    top: 100px;
    text-align: center;
    background: #FEFEFE;
    width: auto;
    height: 100px; 
}

.titulo-principal{
    width: auto;
    height: 59px;
    font-size: 12px;
    padding-top: 0;
}

#princ{
    display: inline;
    color: #000000;
    font-weight: bold;
    margin: 0 0 0 27px;   
}

.search-container {
    position: relative;
    display: flex;
    max-width: 400px; 
    margin: 0 auto;
    bottom: 14px; 
    left: -20px;
}
  
.search-input {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 9px 0 0 9px;
}
  
.search-button {
    padding: 10px 20px;
    background-color: #0771e2;
    color: #fff;
    border: none;
    border-radius: 0 9px 9px 0; 
    cursor: pointer;
}
  
.search-button:hover {
    background-color: #0056b3; 
}

.ZonaProductos{
    padding: 70px 170px;
    background: linear-gradient(#FEFEFE, #888888)
}

.contenido-ZonaProductos{
    width: 640px;
    margin: 0 auto;
}

.lista-ZonaProductos{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.titulo-Productos{
    width: 400px;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 30px;   
}

.productosHome{
    width: 1300px;
    margin: auto 0;
    
}

.productosHome li{
    background-color: #FFFFFF;
    display: inline-block;
    text-align: center;
    width: 200px;
    vertical-align: top;
    margin: 1.5% 1.5%;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    
}

.productosHome li:hover{
    border-color:#c78c19;
}

.productosHome li:active{
    border-color:#088c19;
}

.productosHome h2{
    font-size: 20px;
    font-weight: bold;
}

.productosHome li:hover h2{
    font-size: 30px;
}

.imaProd{
    width: 65px;
    height: 65px;
}

.productoHomeDescr{
    font-size: 13px;
    text-overflow: ellipsis;
}

.productoHomePrecio{
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    
}

.propaganda{
    display: block;
    background: linear-gradient(#888888, #FEFEFE);
}

.imaPropa{
    width: 700px;
    height: 430px;
    border-radius: 20px;
    margin-left: 17%; 
}

.imaPropa1{
    width: 330px;
    height: 330px;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 2%;    
}

.Importante{
    padding: 30px;
    font-size: 12px;
    background: linear-gradient(#FEFEFE, #888888)
}

.importante p{
    margin: 0 0 2em;
    text-align: center;
}

.importante-contenido{
    width: 940px;
    margin: 0 auto;
}

.logoPag1{
    width: 60px;
    height: 60px;
}

footer{
    text-align: center;
    background: url(../imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color:#FFFFFF;
    font-size: 13px;
    margin:20px;
}

/* @media screen and (max-width: 480px) {
    .caja, .search-button, .banner, .anteBanner, .posBanner, 
        .opcionesPosBanner, .copyrightz, .copyright, .imaPropa, .productosHome  {
        width: 480px;
    }

    .contenido-ZonaProductos, .imagenPagProductos, .
} */